<h1><%= @topic.name.capitalize %></h1>
<div>
  <%= render 'follow_form' if signed_in? %>
</div>
<ul class="miniposts" id="miniposts" summary="Topic posts">
  <%= render :partial => 'shared/feed_item', :collection => @miniposts %>
</ul>
<%= will_paginate @miniposts %>
