<h4>Edit User</h4>
<hr>
<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= link_to "Update", "#", class: "btn btn-primary", onclick: "$('form').submit()" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>
