<div class="page-header">
  <h4>Sign up</h4>
</div>
<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= link_to "Sign Up", "#", class: "btn btn-primary", onclick: "$('form').submit()" %>
  </div>
<% end %>
