<script type="text/javascript">
  mixpanel.track("Sign up");
</script>
<div class="page-header">
  <h4>Sign up</h4>
</div>
<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>
