<% unless current_user.feed.empty? %>
  <div id="postcontainer">
    <ul class="miniposts" id="miniposts" summary="User posts">
      <%= render :partial => 'shared/feed_item', :collection => current_user.feed %>
    </ul>
    <%= will_paginate @feed_items %>
  </div>
<% end %>
