<%= form_for @minipost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <p id="minipost_char_count"></p>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
