<div class="stats">
  Following: <br/>
  <div class="posts_count">
    <%= link_to pluralize(current_user.followedposts.count, "post"), interests_path %><br/>
  </div>
  <div class="topics_count">
    <%= link_to pluralize(current_user.topics.count, "topic"), topics_path %>
  </div>
</div>
