<div>
	<div style="margin: 0; padding: 40px 0 20px 0; text-align: center">
    <span id="landing_title" style="font-weight: bold; font-size: 3.5em; font-family: 'Aldrich', sans-serif;">cliffchat<sup style="font-weight: normal; font-size: 0.55em; color: #808080"><i>Beta</i></sup></span>
		<br />
		<span id="tag_line" style="font-style: italic; font-size: 1.2em; font-family: 'Aldrich', sans-serif;">get help. help others. learn from each other</span>
	</div>
	<div class="row-fluid">
    <div class="span8">
      <%= image_tag 'LandingPageCartoon.png', class: 'img-rounded center' %>
      <%= render 'pages/landing_info' %><br/>
      <%= render 'pages/pick_affiliation' %>
    </div>
    <div class="span4"><%= render 'sessions/quick_signin' %></div>
  </div>
</div>
