<!--
<ul class="unstyled">
  <li>Do you ever wonder what is happening in you university?</li>
  <li>Do you feel like you are missing on fun activites that you don't know about?</li>
  <li>Do you have plenty of questions regarding your classes and university?</li>
  <br/>
  <li>Do not worry anymore. That's what closefeed is about.</li>
  <li>You will be able to ask and answer questions related to your university.</li>
</ul>
-->
<br/><br/>
<h5 style="font-style:oblique; font-family:'Georgia', serif">
  Got stuck on your homework? Don't know what is the best way to review for exams coming up? You've arrived at the perfect place to seek help with your academic issues! Sign up now and start seeking help from your fellow students.
</h5>
