<!--
<ul class="unstyled">
  <li>Do you ever wonder what is happening in you university?</li>
  <li>Do you feel like you are missing on fun activites that you don't know about?</li>
  <li>Do you have plenty of questions regarding your classes and university?</li>
  <br/>
  <li>Do not worry anymore. That's what closefeed is about.</li>
  <li>You will be able to ask and answer questions related to your university.</li>
</ul>
-->
<br/><br/>
<h4>
  Sign up for closefeed and checkout what
</h4>
<h4>everyone at your university is talking about!</h4>
