<script type="text/javascript">
  mixpanel.track("Logged in");
</script>
<div class="row-fluid">
  <div class="span8">
      <h3><%= Affiliation.find(current_user.affiliation_id).name %> feed</h3>
      <h4 class="minipost">Say something!</h4>
      <div id="minipost_form">
        <%= render 'shared/minipost_form' %>
      </div>
      <%= render 'shared/feed' %>
  </div>
  <div class="span4">
    <%= render 'shared/user_info' %>
  </div>
</div>
