<h1>What is closefeed?</h1>
<p>Got stuck on your homework? Don't know what is the best way to review for exams coming up?</p>
<p>Worry no longer, <strong>closefeed</strong> will help you get your questions answered by your fellow schoolmates.</p>
<p>It's as simple as logging in, posting your question and waiting for your fellow scholars to answer you.</p>
<p>You can also lend a hand and help answer others posts.</p>
<p>If you don't have any questions, just hang around and see what others are asking about on your campus. Or share your new findings!</p>

<p><i>Now go on. What are you waiting for? Sign up and get help with your academic questions.</i></p>
