<h1>About</h1>
<p>Have you ever wondered what is happening in your campus or ever had a question about something in your university?</p>
<p>Worry no longer, <strong>closefeed</strong> will help you find out what people in your university are talking about. It will also help you get your questions answered by your fellow schoolmates.</p>
<p>It's as simple as logging in, posting your question and wait a bit for your fellow scholars to answer you.</p>
<p>You can also lend a hand and help answer others posts.</p>
<p>If you don't have any questions, just hang around and see what others are talking about on your campus. Or share your new findings!</p>

<p><i>Now go on. What are you waiting for? Sign up and checkout what's happening around your campus.</i></p>
