<h1>Contact Us</h1>
<p>Email or tweet us if you have any suggestions, feedback, questions or need support.</p>

<!-- Icons from http://glyphicons.com/ -->
<%= link_to "<i class='icon-envelope'></i> external@closefeed.com".html_safe, "mailto:external@closefeed.com", class: "btn btn-medium" %><br/><br/>
<a href="https://twitter.com/cliff_chat" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @cliff_chat</a>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
