<h1>Frequently Asked Questions</h1>

<ol>
  <li>What is closefeed?</li>
  <p>closefeed is a place where you get your questions answered, answer others questions, and help each other out.</p>

  <li>How do I post a question?</li>
  <p>Just type your question in the textbox and click the post button.</p>

  <li>How do I respond to a post?</li>
  <p>Click on the Respond link. If the post has responses click on the number of responses. This will take you to the post page. In the textbox, enter your response and click the Respond button.</p>

  <li>How do I vote a response?</li>
  <p>On the post page, click the vote button for the responses you like.</p>

  <li>What is a topic (tag)?</li>
  <p>A topic is an optional way to tag your questions so that they can be categorized easily. For example if you are asking a question related to a course you are taking, you could use the course code as your topic i.e. ECON101. The topic will create more visibility for people following ECON101 questions. This helps your questions to get more views and a quicker response.</p>

  <li>How do I create a topic (tag)?</li>
  <p>Creating a topic (tag) is as easy as putting # in front of a word.</p> 

  <li>How do I follow a post?</li>
  <p>Navigate to the post page by clicking on respond. If the post has responses, click on the number of responses link. On the post page right underneath the question will be a button to follow the post. Click on the Follow button. Notice that on the main page the number of posts you are following has increased by one. On the main page, clicking on the number of posts will only show you the posts that you are following.</p>

  <li>How do I follow a topic (tag)?</li>
  <p>Similar to following a post, navigate to the topic page by clicking on the topic link inside a post. Once on the topic page, click the Follow button. As with the following a post, you will notice that the number of topics you are following has increased by one. On the main page, clicking on the number of topics followed will show you a list of topics you are following.</p>

</ol>

<script type='text/javascript'>
  mixpanel.track("FAQ");
</script>
